@{
    Layout = null;
    var AppInfo = (repos11.Web.Models.AppInfo)ViewData["AppInfo"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@AppInfo.Title | Login </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/Content/vendors")
</head>
<body class="hold-transition login-page">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/vendors")
</body>
</html>
