@{
    var AppInfo = (repos11.Web.Models.AppInfo)ViewData["AppInfo"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@AppInfo.Title | @ViewBag.Title </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/Content/vendors")
    @Styles.Render("~/Content/site")
    @Styles.Render("~/Content/devextreme")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var baseUrl = "@Url.AbsoluteAction("~/")";
    </script>
</head>
<body class="sidebar-collapse hold-transition sidebar-mini layout-navbar-fixed layout-footer-fixed layout-fixed text-sm">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Content/images/logo.png" alt="AdminLTELogo" height="60" width="60">
        </div>
        @Html.Partial("_Header")
        @Html.Partial("_SideNav")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @Html.Partial("_ContentHeader")
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/devextreme")
    <script src="https://unpkg.com/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
    @Scripts.Render("~/bundles/site")
    @Html.Partial("_ScriptActionValidation")
    @RenderSection("scripts", required: false)
</body>
</html>
